# NODE
node_modules
package-lock.json
yarn.lock

# APPLICATION
.env
sessiondata
dist

# Scripts de teste local
scripts/test-*.js

# IDEs
.vscode/settings.json
.idea

# Binaries
*.exe

/src/generated/prisma
